.result-list {
  flex-grow: 1;
}

.icon {
  height: 18px;
  width: auto
}

.result-card {
  padding : 2px
}


.result-list .result-card {
  border-width: 0 0 1px 1px;
  border-color: black;
  border-style: solid;
}

.result-list .result-card:first-child {
  border-top-width: 1px
}